{% extends 'partials/base.html' %}
{% block title %}Alteração de senha completa{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Alteração finalizada</h4>
                    <hr>
                    <div class="alert alert-info">
                        Sua senha foi redefinida com sucesso. Faça login com as novas credenciais
                    </div>
                    <a href="{% url 'users-login' %}">Entrar</a>
                    <hr>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}

  