{% extends 'partials/base.html' %}
{% block title %}Alterar Senha{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Página de redefinição de senha</h4>
                    <hr>
                    <div class="alert alert-info">
                        Digite o email e enviaremos uma mensagem com instruções para a redefinição da senha
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary w-100" type="submit" value="Redefinir senha">
                    </form>
                    <hr>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}

  